<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <services>
      <register serviceType="Sitecore.XA.Foundation.SitecoreExtensions.Services.IQueryService, Sitecore.XA.Foundation.SitecoreExtensions"
                patch:instead="*[@implementationType='Sitecore.XA.Foundation.SitecoreExtensions.Services.IQueryService, Sitecore.XA.Foundation.SitecoreExtensions']"
                implementationType="Sitecore.Support.XA.Foundation.SitecoreExtensions.Services.QueryService, Sitecore.Support.293880" lifetime="Singleton"/>
    </services>
  </sitecore>
</configuration>