<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <services>
      <register serviceType="Sitecore.XA.Foundation.Multisite.ISiteInfoResolver, Sitecore.XA.Foundation.Multisite"
                     patch:instead="*[@implementationType='Sitecore.XA.Foundation.Multisite.SiteInfoResolver, Sitecore.XA.Foundation.Multisite']"
                     implementationType="Sitecore.Support.XA.Foundation.Multisite.SiteInfoResolver, Sitecore.Support.293880" lifetime="Singleton"/>
      <register serviceType="Sitecore.XA.Foundation.Multisite.Services.ICrossSiteLinkingService, Sitecore.XA.Foundation.Multisite"
                     patch:instead="*[@serviceType='Sitecore.XA.Foundation.Multisite.Services.ICrossSiteLinkingService, Sitecore.XA.Foundation.Multisite']"
                     implementationType="Sitecore.Support.XA.Foundation.Multisite.Services.CrossSiteLinkingService, Sitecore.Support.293880" lifetime="Singleton"/>
    </services>
  </sitecore>
</configuration>